pandas==1.2.4
flask==1.1.2
selenium==4.0.0
beautifulsoup4==4.10.0
jupyter==1.0.0
pip==21.1.1
attrs==21.2.0
toml==0.10.2
zlib==1.2.11
wheel==0.36.2
brotli==1.0.9
openssl==1.1.1m
cryptography==3.4.7
py==1.10.0
lxml==4.6.3
pillow==8.2.0
docutils==0.17.1
sphinx==4.0.1
tornado==6.1
jinja2==2.11.3
keyring==23.0.1
typing_extensions==3.7.4.3
markupsafe==2.0.1
werkzeug==1.0.1
click==8.0.1
itsdangerous==2.0.1
greenlet==1.1.0
gevent==21.1.2
setuptools==52.0.0
zipp==3.4.1
cython==0.29.23
future==0.18.2
mypy_extensions==0.4.3
pkginfo==1.7.0
importlib_metadata==3.10.0
packaging==20.9
pyparsing==2.4.7
jsp==0.8.6
numpy==1.20.2