<main id="main" class="main">

  

      <section class="section">
        <div class="row">
          <div class="col-lg-10">
 <div class="pagetitle">
      <h1 style="text-align: center;"> انشاء جدولي  </h1>

    </div>
            <div class="card text-center" >
              <div class="card-body">
                <h5 class="card-title"></h5>
            
                <div class="row align-items-center">

                  <div class="col" style="align-items: center;">
                    <div class="row">
                      <div class="col-6">
                        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                          <nav class="nav nav-pills flex-column">
                            <div class="overflow-auto">
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >

                              <option style="text-align: center;" class="form-select form-select-lg mb-3" selected>المقرر</option>
                                {% for courses in coursesname %}
                              <option  style="text-align: center" class="form-select form-select-lg mb-3" >{{courses[0]}}</option>
                              {% endfor %}
                            </select>
                            <div class="d-grid gap-2">
                            <button onclick="addRow()" type="button" class="btn btn btn-success">اضافة المقرر</button>
                            <br>
                                <form onsubmit="return check()" action="{{ url_for('CoursesCanTaken')}}" method="post">
                            <button type="submit" style= 'width: 100%;' class="btn btn-primary">انشاء الجدول</button>
                          <input type="hidden" required name="CN" id ='CN' value="" >    

 </form>
                           <br>
                            <p  style="color: rgb(220 53 69 / 90%)"></p>
                          </div>
                      </div>
                            </nav>
                          </nav>
                        </nav>
                      </div>
                      <div class="col-6">
                        <div class="table-responsive">

                <table id = 'myTable1' class=" table table-striped table-primary table-hover table-bordered" style="direction: rtl;" >
                  <thead>
                    <tr>
                      <th scope="col">#</th>

                      <th scope="col">أسم المقرر
                        


</th>
                      <th scope="col"></th>

                    </tr>
                  </thead>
                  <tbody>



                  </tbody>
                </table>
 
             </div>
                <!-- End Default Table Example -->
              </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>

    </section>

  </main>
                <!-- End Default Table Example -->
              </div>
            </div>
    </section>

  </main>

  <script>
    courses = {{coursesname | safe}}
    maxCR = {{max | safe}}

    function addRow(){
      ifinList = true
      Table = document.getElementById("myTable1")
      cols = Table.querySelectorAll("td:nth-child(2)");      
      selects = document.getElementsByTagName('select')[0]
      CoursesName = selects.options[selects.selectedIndex]
      if (CoursesName.text == "المقرر") {
        document.getElementsByTagName('p')[0].innerHTML = 'يجب اختيار مقرر'
      }
      else{

      sum = 0 ;
      for(i=0 ; i < cols.length ; i++){
      if (cols[i].textContent == CoursesName.text ){
document.getElementsByTagName('p')[0].innerHTML = 'تم اضافة المقرر سابقا'
ifinList = false  
break

            

}
      }
      

      if (ifinList){

      for(i=0 ; i < cols.length ; i++){
        for(j=0 ; j < courses.length ; j++){
          
          if (cols[i].textContent == courses[j][0] ){

            sum += courses[j][1]

}
if (CoursesName.text == courses[j][0] ){

sum += courses[j][1]

}

      }
    }
      if(sum <= maxCR){


      row = Table.insertRow(-1);

      indexs = Table.rows.length-1 
      row.innerHTML = '<td>'+indexs+'</td><td>'+CoursesName.text+'</td><td><button id = "'+indexs+'" onclick="deleteRowbyIndex(this.id)" type="button" class="btn btn-danger">حذف</button></td></tr>'
          CN = document.getElementById('CN') 
    CN.value = CN.value+""+ CoursesName.text+","
}
      else{
        document.getElementsByTagName('p')[0].innerHTML = 'لا يمكن اضافة المقرر لتجاوز النصاب'
      }
    }
    }
  }

    function deleteRowbyIndex(index) { 
      Table = document.getElementById("myTable1")
      Table.deleteRow(index);
    cols = Table.querySelectorAll("td:first-child");
    buttonIDs = Table.getElementsByTagName('button')
    for(i=0 ; i < cols.length ; i++){

      cols[i].innerHTML = ''+(i+1)
    }
    for(i=0 ; i < buttonIDs.length ; i++){

      buttonIDs[i].id = ''+(i+1)
}
CN = document.getElementById('CN') 
    CN.value = ""
    trs = Table.getElementsByTagName('tr') 
    for(i = 1 ; i< trs.length ; i++){
      CN.value += trs[i].getElementsByTagName('td')[1].innerHTML +","
      
    }
    }
function check(){
      if( document.getElementById("myTable1").rows.length > 1)
       { 
        return true
        
       }
      else{
        document.getElementsByTagName('p')[0].innerHTML = ' يجب اختيار مقرر او اكثر'
       return false
      }
    }
  </script>