{% extends 'navBarHedAdv.html' %}
 {% block body %}

    <style>
  input.dotted {border-style: dotted;}
  .dropify-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #777;
    background-color: #FFF;
    background-image: none;
    text-align: center;
    border: 2px solid #E5E5E5;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
}
.dropify-wrapper .dropify-message {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.dropify-wrapper .dropify-message span.file-icon {
    font-size: 50px;
    color: #CCC;
}
.dropify-wrapper input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

</style>
</head>
<body>
    <main id="main" class="main">

        <div class="pagetitle">
          <h1 style="text-align: center; margin-right: 32%;"></h1>
          
        </div><!-- End Page Title -->
    
      
    <section></section>
              <div class="col-lg-9">
      
                <div class="card text-center" >
                  <div class="card-body"> 
                    <h5 class="card-title">يحتوي على الارقام الجامعية لطلاب الكلية CSV
                        في حال الرغبة باحصائيات لطلاب الكلية الرجاء ارفاق
                         ملف  
<br>
<a href="/download"  style="color: #012970;" class="load"> انقر من اجل تحميل نموذج</a> 
 </h5>

                         
                        
                      
                    <div class="container">
                    <div class="row align-items-start">
         
            <div class="row">
              <div class="dropify-wrapper"><div class="dropify-message"><span class="file-icon"></span> 
                <p>Drag and drop a file here or click</p>
                <p id = 'fileName'></p>
              </div>
              <input type="file" id="File" name="File" class="dropify" data-max-file-size="2M" onchange="validateFileType(this)" accept=".csv">


            </div>
            </div>
            </div>
            </div>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <form onsubmit="return checkFileUplode()" action="{{ url_for('HeadOfTheGuidanceCommitteeServices')}}" method="post">
              <button onclick="checkFileUplode()" class="btn btn-primary" type="submit">الذهاب الى الاحصائيات</button>
                </form>
            <p id = 'Nofile'></p>
            </div>
            </div>

              </div>
              </div>
              

                  
                    <!-- End Default Table Example -->
              
        </section>
        </main>
        <script>

 function checkFileUplode(){
  if (document.getElementById('File').value == "") {
    document.getElementById('Nofile').innerHTML = '<p style="color: rgb(220 53 69 / 90%)">الرجاء إرفاق الملف المطلوب</p> '
return false

  }
return true
   



 }
    function validateFileType(file){
        var fileName = file.files[0].name
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (extFile=="csv"){
          document.getElementById('fileName').innerHTML = fileName

        }else{
          document.getElementById('fileName').innerHTML = '<p style="color: rgb(220 53 69 / 90%)">Only CSV files are allowed!</p> '
            
            
        }   
    }
</script>
        </script>
     
   

  {% endblock %}