{% extends 'navBarAdv.html' %}
 {% block body %}

        <div style="margin-top: 100px;" class="pagetitle">
            <h1 style="text-align: center;">كشف الطلاب</h1>

          </div><!-- End Page Title -->
<div class="section-container">
            <div class="container">
              <div class="row" style="direction: rtl;">
                <div class="col-12">
                    <div class="card text-center  border-primary justify-content-center">
                        <div class="card-body ">
                            <div class="form">
                                <i class="fas fa-search active" aria-hidden="true"></i>
                                <form style="direction: rtl;" class=" card-title">
                                    <label style="display: flex;" class="control-label"> بحث بناء على اسم الطالب، الرقم الجامعي </label>
                                    <br>
                                    <input id = 'searchBox' style="width: 40%;text-align: right;" class="form-control me-1 form-input  form-control-sm" type="search" placeholder="بحث"
                                        aria-label="Search">

                                </form>


                            <!-- Default Table -->
                            <div class="table-responsive" style="direction: rtl;">
                            <table id = 'myTable' class=" table table-striped table-primary table-hover " style="direction: rtl;">
                                <thead>

                                    <tr>


                                     {% for hrd in heads %}
         <th scope="col"> {{hrd.text}} </th>

        {% endfor %}
                                </tr>
                                </thead>
 {% for row in rows %}
    <tr>



        {% set cloums = row.findAll("td") %}
    {% for cloum in cloums %}
{% if loop.index  == 1 %}
<th scope="row">{{loop.index }}</th>
       {% elif loop.index  == 2 %}
<form   method="POST" id="form">
         <td >
        <button style="              color: #0f1417;
            text-decoration: underline;
            background: none;
            border: none;
            cursor: pointer;" type="submit" class="link-button" > {{cloum.text}} </button>

    </td>
    <input type="hidden" required name="id" value= {{cloum.text}} >
        {% elif loop.index  == 3 %}

            <td>


    {{cloum.text}}

    </td>
<input type="hidden" required name="name" value= '{{cloum.text}}' >

        {% elif loop.index  == 10 %}

            <td>


    {{cloum.text}}

    </td>
<input type="hidden" required name="GPA" value= {{cloum.text}} >

</form>
        {% else %}

         <td>

    {{cloum.text}}

    </td>
        {% endif %}
        {% endfor %}






    </tr>
    {% endfor %}



                                  </tbody>
                            </table>
                            </div>
                        </div>
                            <!-- End Default Table Example -->
                        </div>
                    </div>
        </section>



    </main>
  <script src="{{ url_for('static',filename='/assets/js/srehTable.js') }}" >
  {% endblock %}